* {
  text-align: left;
  font-family: roboto;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  text-align: center;
}

.container {
  margin: 10px auto;
  border: 1px solid black;
  width: 1000px;
  padding: 10px 20px;
}

.colourContainer {
  margin: 0px auto;
  text-align: center;
}

.color-box {
  width: 200px;
  display: inline-block;
  padding: 10px 5px 0px;
  margin: 10px;
}

.color-box p {
  text-align: center;
}

.seaBox {
  background-color: #40dd9d;
}

.grayBox {
  background-color: #22343c;
  color: white;
}

.blackBox {
  background-color: black;
  color: white;
  padding-top: 30px;
}

.whiteBox {
  background-color: white;
  padding-top: 30px;
}

.roboto {
  font-family: roboto;
}

.montserrat {
  font-family: montserrat;
}

.fira-sans {
  font-family: "fira sans";
}

.thin {
  font-weight: 100;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.font-label {
  font-size: 24px;
}

.fonts-container {
  margin: 0px auto;
}

.font-panel {
  max-width: 800px;
  display: inline-block;
  margin-left: 20px;
}

.text-panel h1 {
  text-align: left;
  font-weight: 700;
  font-size: 36px;
  font-family: roboto;
}

.text-panel h2 {
  font-weight: 600;
  font-size: 18px;
  font-family: roboto;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: montserrat;
}

.text-panel nav {
  font-weight: 300;
  font-size: 14px;
  font-family: roboto;
}
